@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap");

:root {
  --primary-color: rgb(5, 63, 60);
  --secondary-color: #f6bf5a;
  --third-color: #2b353e;
  --forth-color: #2b353e;
  --fifth-color: rgba(43, 53, 62, 0.7);
  --sixth-color: rgb(255, 255, 255);
  --custom-color: rgba(255, 255, 255, 0.2);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
}
